jupyter
pip
attrs
Pillow
tornado
Jinja2
filelock
redis
setuptools
packaging
Cython
future
platformdirs
torch
ultralytics
easyocr
numpy
scikit-image
deskew
streamlit
streamlit_authenticator
opencv-python-headless
